body{
    background-image: linear-gradient( 94.3deg,  rgba(26,33,64,1) 10.9%, rgba(81,84,115,1) 87.1% );
}
.form-group small {
	color: #e74c3c !important;
	position: absolute ;
	bottom: 0;
	left: 0;
	visibility: hidden !important;
}
.form-group.success input {
	border-color: #2ecc71 !important;
}

.form-group.error input {
	border-color: #e74c3c !important;
}
.form-group.error small {
	visibility: visible !important;
}
#LozinkaIIkona{
    display: flex;
    justify-content: space-between;
  }
  
#guranjePorukeGreska{
min-height: 50px;
display: inline-block;
}
.input-group-append{
display: inline-block;
}

#logo{
width: 150px;
height: 150px;
border-radius: 999px;
box-shadow: 
0 0 0 10px   rgba(255,255,255,.2),
0 0 25px 2px rgba(0,0,0,.4),
inset 0 0 0 15px   rgba(255,255,155,.4);
position: absolute; 
background-size: 150px 150px;
margin: auto; 
top: 0; left: 0; bottom: 0; right: 0;
z-index: 3;
margin-top: 3%;
}
.wrapper{
    margin-top: 15%;
}
.puls1{
    position: absolute;  
    width: 170px;
    height: 170px; 
    top: 0; left: 0; bottom: 0; right: 0;
    z-index: 1;
    opacity: 0;
    border: 3px solid rgba(255,255,255,.1);
    animation: pulsejg1 4s linear infinite;
    border-radius: 999px;
    box-shadow: inset 0px 0px 15px 10px rgba(0, 0, 0, .6);
    box-sizing: border-box;
    margin:0 auto;
    margin-top: 2.3%;
}

.puls2{
    position: absolute;
    width: 170px;
    height: 170px;
    top: 0; left: 0; bottom:0; right: 0;
    z-index: 2;
    opacity: 0;
    border: 1px solid rgba(255,255,255,0);
    animation: pulsejg2 4s linear infinite;
    border-radius: 999px;
    box-shadow: inset 0px 0px 12px 5px rgba(255, 255, 255, .8);
    box-sizing: border-box;
    margin: 0 auto;
    margin-top: 2.3%;
}


@keyframes pulsejg1 {
    0% {
        transform: scale(.6);
        opacity: 0;
    }

    50% {
        transform: scale(.6);
        opacity: 0;
    }

    60% {
        transform: scale(.9);
        opacity: .1;
    }

    70% {
        transform: scale(1.1);
        opacity: .25;
    }

    80% {
        transform: scale(1.25);
        opacity: .1;
    }

    100% {
        transform: scale(1.4);
        opacity: 0;
    }
}

@keyframes pulsejg2 {
    0% {
        transform: scale(.6);
        opacity: 0;
    }

    40% {
        transform: scale(.8);
        opacity: .05;
    }

    50% {
        transform: scale(1);
        opacity: .1;
    }

    60% {
        transform: scale(1.1);
        opacity: .3;
    }

    80% {
        transform: scale(1.2);
        opacity: .1;
    }

    100% {
        transform: scale(1.3);
        opacity: 0;
    }
}

.zoom {
    position: absolute;
    width: 40px;
    opacity: 0;
    animation: zoom 1s linear forwards;
  }
  
@keyframes zoom {
from {
    opacity: 1;
}
to {
    opacity: 0;
    top: 40px;
    right: 40px;
}
}

#oPrijava{
    background-image: linear-gradient(to right, #314755 0%, #26a0da  51%, #314755  100%);
   text-align: center;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   display: block;
}

#oPrijava:hover {
   background-position: right center;
   color: #fff;
   text-decoration: none;
 }
