@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Open+Sans:wght@300&display=swap');
body{
  font-family: 'Open Sans',sans-serif;
 margin: 0 !important;
 height:  100% !important;
	/*boje->crna #000000, zuta #FCA311,tamno plavija #14213D,platina #E5E5E5,bijela #FFFFFF*/
}
h1,h2,h3,h4,h5{
	font-family: 'Merriweather',serif;
}

.parallax {
  position: relative;
  min-height: 300px; 
  max-height: 400px;
  margin: 0 auto;
}
button{
	margin-right:5px !important;
}
.dropdown-menu {
  margin-top: 0;
}

.dropdown-item{
  cursor: pointer;
}
.dropdown-item:hover{
  font-weight: bold;
}
span{
  font-family: 'Merriweather',serif;
  font-size: 20px;
}
.odabrani:hover{
  background-color:#007bff !important;
  color: white !important;
  border-radius: 4px !important;
  transition: 0.3s !important;
  cursor: pointer;
}
.naslovi{
  font-weight: bold !important;
}
.link{
  text-decoration: none !important;
  color: black !important;
  cursor: pointer;
  text-align: center;
}
.odjava:hover{
	background-color: rgb(104, 172, 211) !important;
	transition: 0.3s !important;
	cursor: pointer;
}
.row{
  height: 250px !important;
}
.naslov{
  font-size: 3vw;
  position: absolute;
  top: 50%;
  left: 50%;
  font-weight: bold;
  transform: translate(-50%, -50%);
  text-shadow: 1px 1px 1px black;
}
.odjaviSe{
  font-size: 15px !important;
  text-decoration: none !important; 
  color:black !important;
}
/* #navbar{
  z-index:999 !important;
} */
.odjava{
  z-index: 999 !important;
}
@media (max-width:960px){
  .footer {
    padding-top: 25% !important;
  }
}
.visina{
  line-height: 35px;
}
.row{
  height: 15% !important;
}
.container{
  height: 200px;
}
.sadrzaj{
  min-height: 100% !important;
}
.footer,
.poguraj {
  height: 50px !important;
}
#korisnik{
 margin-left: auto;
}
#slikaAnim{
 border-radius: 50%;
 z-index: -1;
 position: relative;
 width: 20%;
 opacity: 0.3;
}
@media (prefers-reduced-motion: no-preference) {
  #slikaAnim {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar .nav-item:not(:last-child) {
  margin-right: 35px;
}
 
.dropdown-toggle::after {
  transition: transform 0.15s linear; 
}

.show.dropdown .dropdown-toggle::after {
 transform: translateY(3px);
}

.img{
  cursor: pointer;
  position: relative;
}
.img:hover{
  transform: translateY(2px);
  background-color: white;
  border-radius: 25%;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}
#modalPrijava {
  pointer-events: none;
}
.modal-backdrop{
  opacity: 0.9 !important;
}

.fa:hover{
  cursor: pointer;
}

.mainWrapper{
  display: block;
  position: relative;
  top:0;
}
.tableContainer{
  margin: 0% 10% 0%;
}
.mainWrapper::after{
  content: "";
  background-image: url('../img/tester.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
/* #tablicaArtikli tbody{
    display:block;
    overflow:auto;
    height:200px;
}

#tablicaArtikli thead tr{
  display:block;
  text-align: center;
} */
/* #tablicaArtikli{
 margin-top: 50px;
} */
.form-group small {
	color: #e74c3c !important;
	position: absolute !important;
	bottom: 0 !important;
	left: 0 !important ;
	visibility: hidden !important;
}
.form-group.success input {
	border-color: #2ecc71 !important;
}

.form-group.error input {
	border-color: #e74c3c !important;
}
.form-group.error small {
	visibility: visible !important;
}
#kosarica{
  width: 50px;
  height: 50px;
  text-align: center;
  text-decoration: none;
  color:#000;
  border-radius: 50%;
  margin:0 30px;
  box-shadow: 0 0 20px 10px rgba(253, 250, 250, 0.05);
  position: relative;
  overflow: hidden;
  transition: transform 0.5s;
}
.ikonaKosarica{
  line-height: 50px;
  font-size: 25px;
  position: relative;
  z-index: 10;
  transition: color 0.5s;
}
#kosarica::after{
  content:'';
  width: 100%;
  height: 100%;
  top:-60px;
  left: 0;
  background: linear-gradient(-45deg,#ed1c94,#ffec17);
  position: absolute;
  transition: 0.5s;
}

#kosarica:hover::after{
  top:0;
}

#kosarica:hover .ikonaKosarica{
  color:#fff;
}

#kosarica:hover{
  transform: translateY(-5px);
}

#pocetna{
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  cursor: pointer;
  height: 6%;
  padding: 15px;
  border-radius: 4px;
}