@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Open+Sans:wght@300&display=swap');
body{
  font-family: 'Open Sans',sans-serif;
 margin: 0 !important;
 min-height:  100% !important;
	/*boje->crna #000000, zuta #FCA311,tamno plavija #14213D,platina #E5E5E5,bijela #FFFFFF*/
}
h1,h2,h3,h4,h5{
	font-family: 'Merriweather',serif;
}
small{
  font-weight: bold;
}
.parallax {
  position: relative;
  min-height: 200px; 
  max-height: 265px;
  margin: 0 auto;
  margin-top: -3%;
}
button{
	margin-right:5px !important;
}
.dropdown-menu {
  margin-top: 0;
}

.dropdown-item{
  cursor: pointer;
}
.dropdown-item:hover{
  font-weight: bold;
}
span{
  font-family: 'Merriweather',serif;
  font-size: 20px;
}
.odabrani:hover{
  background-color:#007bff !important;
  color: white !important;
  border-radius: 4px !important;
  transition: 0.3s !important;
  cursor: pointer;
}
.naslovi{
  font-weight: bold !important;
}
.link{
  text-decoration: none !important;
  color: black !important;
  cursor: pointer;
  text-align: center;
}
.row{
  height: 250px !important;
}
.naslov{
  font-size: 3vw;
  position: absolute;
  top: 50%;
  left: 50%;
  font-weight: bold;
  transform: translate(-50%, -50%);
  text-shadow: 1px 1px 1px black;
}
#Odjava {
  background-image: linear-gradient(to right, #00d2ff 0%, #3a7bd5  51%, #00d2ff  100%);
  text-align: center;
  margin-top:4px;
  margin-bottom: 4px;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;         
  border-radius: 10px;
  display: block;
}
#Odjava:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

@media (max-width:960px){
  .footer {
    padding-top: 25% !important;
  }
}
.visina{
  line-height: 35px;
}
.row{
  height: 15% !important;
}
.container{
  height: 300px;
}
.sadrzaj{
  min-height: 100% !important;
}
.footer,
.poguraj {
  height: 50px !important;
}

#korisnik{
 margin-left: auto;
}
#slikaAnim{
 border-radius: 50%;
 z-index: -1;
 position: relative;
 width: 20%;
 opacity: 0.3;
}
@media (prefers-reduced-motion: no-preference) {
  #slikaAnim {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar .nav-item:not(:last-child) {
  margin-right: 35px;
}
 
.dropdown-toggle::after {
  transition: transform 0.15s linear; 
}

.show.dropdown .dropdown-toggle::after {
 transform: translateY(3px);
}

.img{
  cursor: pointer;
  position: relative;
}
.img:hover{
  transform: translateY(2px);
  background-color: white;
  border-radius: 25%;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}
.fa:hover{
  cursor: pointer;
}
.fa-wrench{
  font-size: 25px;
}
.mainWrapper{
  display: inline-block;
  position: relative;
  top:0;
}
.tableContainer{
  overflow-x: auto;
  margin: 5% 10% 0%;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  opacity: 0.9;
  background-color:rgba(30, 32, 44, 0.95);
  padding-left: 200px;
  padding-right: 200px;
}
.mainWrapper::after{
  content: "";
  background-image: url('../img/tester.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

table,th,td {
      border: 1px solid white;
      border-collapse: collapse;
}

#kosarica{
  width: 50px;
  height: 50px;
  text-align: center;
  text-decoration: none;
  color:#000;
  border-radius: 50%;
  margin:0 30px;
  box-shadow: 0 0 20px 10px rgba(253, 250, 250, 0.05);
  position: relative;
  overflow: hidden;
  transition: transform 0.5s;
}
.ikonaKosarica{
  line-height: 50px;
  font-size: 25px;
  position: relative;
  z-index: 10;
  transition: color 0.5s;
}
#kosarica::after{
  content:'';
  width: 100%;
  height: 100%;
  top:-60px;
  left: 0;
  background: linear-gradient(-45deg,#ed1c94,#ffec17);
  position: absolute;
  transition: 0.5s;
}

#kosarica:hover::after{
  top:0;
}

#kosarica:hover .ikonaKosarica{
  color:#fff;
}

#kosarica:hover{
  transform: translateY(-5px);
}

#pocetna{
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 4px;
}
.navbar-brand{
  font-weight: bold;
  font-size: 22px;
}
.brand{
  font-size: 32px;
}
#navbarBrand:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  cursor: pointer;
}

@keyframes clockwise {
  0% {
    top: -5px;
    left: 0;
  }
  12% {
    top: -2px;
    left: 2px;
  }
  25% {
    top: 0;
    left: 5px;    
  }
  37% {
    top: 2px;
    left: 2px;
  }
  50% {
    top: 5px;
    left: 0;    
  }
  62% {
    top: 2px;
    left: -2px;
  }
  75% {
    top: 0;
    left: -5px;
  }
  87% {
    top: -2px;
    left: -2px;
  }
  100% {
    top: -5px;
    left: 0;    
  }
}

@keyframes counterclockwise {
  0% {
    top: -5px;
    right: 0;
  }
  12% {
    top: -2px;
    right: 2px;
  }
  25% {
    top: 0;
    right: 5px;    
  }
  37% {
    top: 2px;
    right: 2px;
  }
  50% {
    top: 5px;
    right: 0;    
  }
  62% {
    top: 2px;
    right: -2px;
  }
  75% {
    top: 0;
    right: -5px;
  }
  87% {
    top: -2px;
    right: -2px;
  }
  100% {
    top: -5px;
    right: 0;    
  }
}

#navbarBrand {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

#navbarBrand .popuptext {
  visibility: hidden;
  width: 250px;
  font-size: 15px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

#navbarBrand .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 35%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

#navbarBrand .show {
  visibility: visible;
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

.gumbTablica#gumbKupi:active,
.gumbTablica#gumbKupi.active {
  box-shadow: 0 0 0 1px #5cb85c inset, 0 0 0 1px rgba(255, 255, 255, 0.15) inset, 0 1px 3px 1px rgba(0, 0, 0, 0.3);
	background-color: #5cb85c;	
}
.gumbTablica {
	position: relative;
	top: -6px;
	border: 0;
	transition: all 40ms linear;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 2px;
	margin-right: 2px;
}

.gumbTablica#gumbKupi {
	box-shadow: 0 0 0 1px #5cb85c inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #5eb924, 0 8px 8px 1px rgba(0, 0, 0, 0.5);
	background-color: #5cb85c;
}

.gumbTablica:active,
.gumbTablica.active {
	top: 2px !important;
}

.gumbTablica:active:focus,
.gumbTablica:focus:hover,
.gumbTablica:focus {
	outline: medium none !important;
}

.gumbTablica#gumbObrisi {
	box-shadow: 0 0 0 1px #b93802 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #AA0000, 0 8px 8px 1px rgba(0, 0, 0, 0.5);
	background-color: #D73814;
}

.gumbTablica#gumbObrisi:active,
.gumbTablica#gumbObrisi.active {
	box-shadow: 0 0 0 1px #b93802 inset, 0 0 0 1px rgba(255, 255, 255, 0.15) inset, 0 1px 3px 1px rgba(0, 0, 0, 0.3);
	background-color: #D73814;
}

.gumbTablica.plaviGumbTablice {
	box-shadow: 0 0 0 1px #417fbd inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #4D5BBE, 0 8px 8px 1px rgba(0, 0, 0, 0.5);
	background-color: #4274D7;
}

.gumbTablica.plaviGumbTablice:active,
.gumbTablica.plaviGumbTablice.active {
	box-shadow: 0 0 0 1px #417fbd inset, 0 0 0 1px rgba(255, 255, 255, 0.15) inset, 0 1px 3px 1px rgba(0, 0, 0, 0.3);
	background-color: #4274D7;
}

#gumbObrisi{
  font-size: 20px;
}
.cart:before {
  content: attr(data-totalitems);
  font-size: 15px;
  font-weight: 600;
  position: absolute;
  z-index: 999;
  margin-left: 4%;
  margin-bottom: 2%;
  background: #2bd156;
  line-height: 24px;
  padding: 0 5px;
  height: 24px;
  min-width: 24px;
  color: white;
  text-align: center;
  border-radius: 24px;
}

#greskaRute{
  font-size: 25px;
  font-weight: bold;
  width: 450px;
  height: 250px;
}

.mycontent-left {
  border-right: 1px dashed white;
}

 .div1 {
  border-right-style: solid;
  height: 90%;
  border-right-color: white;
}

.div3 {
  border-left-style: solid;
  height: 90%;
  border-left-color: white;
} 
#visinaRetka{
  height: 100% !important;
}

.pocetnaContainer{
  margin: 5% 10% 0%;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  opacity: 0.9;
  background-color:rgba(30, 32, 44, 0.95);
}

#LogoSlika{
  width: 70%;
  border-radius: 10px;
}


#opisArtikla,
#opisArtikla::after {
  transition: all 0.3s;
}


#opisArtikla::before,
#opisArtikla::after {
  background: #fff;
  content: '';
  position: absolute;
  z-index: -999;
}

#opisArtikla:hover {
  color: black;
  font-weight: bold;
}

#opisArtikla::after {
  height: 100%;
  left: -100%;
  top: 0;
  transform: skew(50deg);
  transition-duration: 0.6s;
  transform-origin: top left;
  width: 0;
}

#opisArtikla:hover:after {
  height: 160%;
  width: 200%;
}

#opisArtikla{
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
  max-width: 200px;
  cursor: pointer;
  background: none;
  position: relative;
}

#inputPretraga{
  float: right;
}

.button {
  font-size: 14px;
  --offset: 5px;
  --border-size: 1px;
  display: block;
  position: relative;
  padding: 0.5em 2em;
  appearance: none;
  border: 0;
  background: transparent;
  color: white !important;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 0;
  box-shadow: inset 0 0 0 var(--border-size) currentcolor;
  transition: background 0.8s ease;
}
.button:hover {
  background: black;
  color: white !important;
  text-decoration: none;

}
.button__horizontal, .button__vertical {
  position: absolute;
  top: var(--horizontal-offset, 0);
  right: var(--vertical-offset, 0);
  bottom: var(--horizontal-offset, 0);
  left: var(--vertical-offset, 0);
  transition: transform 0.8s ease;
  will-change: transform;
}
.button__horizontal::before, .button__vertical::before {
  content: '';
  position: absolute;
  border: inherit;
}
.button__horizontal {
  --vertical-offset: calc(var(--offset) * -1);
  border-top: var(--border-size) solid currentcolor;
  border-bottom: var(--border-size) solid currentcolor;
}
.button__horizontal::before {
  top: calc(var(--vertical-offset) - var(--border-size));
  bottom: calc(var(--vertical-offset) - var(--border-size));
  left: calc(var(--vertical-offset) * -1);
  right: calc(var(--vertical-offset) * -1);
}
.button:hover .button__horizontal {
  transform: scaleX(0);
}
.button__vertical {
  --horizontal-offset: calc(var(--offset) * -1);
  border-left: var(--border-size) solid currentcolor;
  border-right: var(--border-size) solid currentcolor;
}
.button__vertical::before {
  top: calc(var(--horizontal-offset) * -1);
  bottom: calc(var(--horizontal-offset) * -1);
  left: calc(var(--horizontal-offset) - var(--border-size));
  right: calc(var(--horizontal-offset) - var(--border-size));
}
.button:hover .button__vertical {
  transform: scaleY(0);
}

.noviArtikl{
  margin: 5% 10% 0%;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  opacity: 0.9;
  background-color:rgba(30, 32, 44, 0.95);
}
.onemoguciGumb{
  pointer-events: none;
  opacity: 0.5;
}
.cursorNotAllowed{
  cursor: not-allowed;
}

#tost{
  z-index: 5;
  right: 0;
  bottom:50px;
}

.divGumbRacuni{
  margin-top: 50%;
}
.akcije{
  text-decoration: none;
}

.wrapper {
  display: inline-flex;
}

.wrapper .icon {
  position: relative;
  background-color: #ffffff;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background-color: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background-color: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background-color: #3b5999;
  color: #ffffff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background-color: #46c1f6;
  color: #ffffff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background-color: #e1306c;
  color: #ffffff;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background-color: #333333;
  color: #ffffff;
}

.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
  background-color: #de463b;
  color: #ffffff;
}

.gumbPopust {
  font-family: 'Lato', sans-serif;
  letter-spacing: 0.02rem;
  cursor: pointer;
  background: transparent;
  border: 0.3rem solid black ;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: black;
  position: relative;
  transition: color 0.3s;
}
.gumbPopust {
  color: black;
}
.gumbPopust:hover::before {
  width: 0;
}
.gumbPopust:hover::after {
  height: 0;
}
.gumbPopust:active {
  border-width: 0.25rem;
}
.gumbPopust span {
  position: relative;
  z-index: 2;
}
.gumbPopust::before, .gumbPopust::after {
  content: '';
  position: absolute;
  background: white;
  z-index: 1;
  transition: all 0.3s;
}
.gumbPopust::before {
  width: calc(100% - 2rem);
  height: calc(101% + 1rem);
  top: -0.5rem;
  left: 50%;
  transform: translateX(-50%);
}
.gumbPopust::after {
  height: calc(100% - 2rem);
  width: calc(101% + 1rem);
  left: -0.5rem;
  top: 50%;
  transform: translateY(-50%);
}

#racunContainer{
  padding: 5rem 10rem;
}
.fa-comment{
  color: #007aff;
}
.dodajPopust{
  text-decoration: line-through;
}
.popustenaCijena{
  color: red;
  font-size: 20px;
}
.fa-cart-plus{
  font-size: 23px;
}
.dataTables_info,
.dataTables_length {
color: white;
}

.btn-akcija {background-image: linear-gradient(to right, #00c6ff 0%, #0072ff  51%, #00c6ff  100%)}
.btn-akcija {
   text-align: center;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   border-radius: 10px;
   
 }

 .btn-akcija:hover {
   background-position: right center;
   color: #fff;
   font-weight: bold;
   text-decoration: none;
 }
.pocetnaLinkovi{
  text-decoration: none !important;
}

.btn-dodaj {background-image: linear-gradient(to right, #0575E6 0%, #021B79  51%, #0575E6  100%)}
.btn-dodaj {
   text-align: center;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   border-radius: 10px;
 }

 .btn-dodaj:hover {
   background-position: right center;
   color: #fff;
   font-weight: bold;
   text-decoration: none;
 }

 .form-group small {
	color: #e74c3c !important;
	position: absolute ;
	bottom: 0;
	left: 0;
	visibility: hidden !important;
}
.form-group.success input {
	border-color: #2ecc71 !important;
}

.form-group.error input {
	border-color: #e74c3c !important;
}
.form-group.error small {
	visibility: visible !important;
}
#guranjePorukeGreska{
  min-height: 50px;
  display: inline-block;
  }