<!DOCTYPE html>
<html lang="hr" ng-app="pcShop">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="img/logo.png">
    <link rel="stylesheet" href="assets/plugins/bootstrap-4.6.0-dist/css/bootstrap.min.css">
    <link rel="stylsheet" href="assets/plugins/fontawesome-free-5.15.3-web/css/fontawesome.min.css">
    <link rel="stylesheet" href="assets/plugins/fontawesome-free-5.15.3-web/css/all.min.css">
    <link rel="stylesheet" href="assets/plugins/node_modules/datatables.net-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="assets/plugins/bootstrap-datepicker-1.9.0-dist/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>PIN PCShop</title>
</head>
    <body class="bg-dark" ng-controller="mainController" data-ng-init="init()">
        <div class="sadrzaj">
        <div class="parallax">
           <center><img id="slikaAnim" src="img/animation_img.png"></center>
            <h1 class="naslov text-center text-white my-auto"><img id="LogoSlika" class="mt-4" src="img/slika.png"></h1>
    </div>  
    <header>
        <nav id="navbar" class="navbar navbar-expand-lg bg-secondary navbar-dark">
            <div class="container-fluid">
            <a id="navbarBrand" href="#!/" class="navbar-brand p-1 rounded" title="Početna">
                <i class="fab fa-product-hunt brand"></i>CShop</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-controls="smanjeniNavbar" aria-label="Toggle navigation" data-target="#smanjeniNavbar">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="smanjeniNavbar">
            <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown mr-auto" ng-repeat="kategorija in vKategorije">
          <a aria-expanded="false"  aria-haspopup="true" class="nav-link dropdown-toggle text-white odabrani" data-toggle="dropdown" ><i id="navIcon{{kategorija.m_nIdCategory}}"></i>{{kategorija.m_sNazivCategory}}</a>
            <div id="drop{{$index}}" class="dropdown-menu" aria-labelledby="#drop{{$index}}">
                <a class="dropdown-item" href="#!/potkategorije"  ng-repeat="x in kategorija.m_oPotkategorije track by x.m_nId" ng-click="PosaljiIdPotkategorije(x.m_nId)" >{{x.m_sNaziv}}</a>
            </div>
        </li>
         </ul>

             <div id="korisnik" class="navbar-nav nav-item">
                <a class="button my-auto" href="#!/noviArtikl" title="Dodavanje novog artikla">
                    Novi artikl
                    <div class="button__horizontal"></div>
                    <div class="button__vertical"></div>
                </a>
                 <div id="cart" class="cart" data-totalitems="0"></div>
                 <div id="kosarica" class="bg-white" ng-click="OtvoriModalRacun()"><i class="fa fa-shopping-cart ikonaKosarica mr-1" title="Košarica" aria-hidden="true"></i></div>
                 <button id="Odjava" type="button" class="btn btn-primary text-white" title="Odjava" ng-click="Odjava()">Odjava</button>
                </div>
            </div>
        </div>
           </nav>
    </header> 
       
    <div class="mainWrapper w-100">
       <div ng-view></div>
    </div>

    <div class="poguraj"></div>
</div>

<button class="btn btn-danger" id="pocetna" title="Povratak na početak"><i class="fa fa-arrow-up text-white"></i></button>
<div class="footer text-center">
  <p id="copyright" class="text-warning bg-dark"></p>
  <div class="wrapper">
    <div class="icon facebook">
      <div class="tooltip">Facebook</div>
      <span onclick="window.location.href='https://www.facebook.com'"><i class="fab fa-facebook-f"></i></span>
    </div>
    <div class="icon twitter">
      <div class="tooltip">Twitter</div>
      <span onclick="window.location.href='https://www.twitter.com'"><i class="fab fa-twitter"></i></span>
    </div>
    <div class="icon instagram">
      <div class="tooltip">Instagram</div>
      <span onclick="window.location.href='https://www.instagram.com'"><i class="fab fa-instagram"></i></span>
    </div>
    <div class="icon github">
      <div class="tooltip">Github</div>
      <span onclick="window.location.href='https://www.github.com'"><i class="fab fa-github"></i></span>
    </div>
    <div class="icon youtube">
      <div class="tooltip">Youtube</div>
      <span onclick="window.location.href='https://www.youtube.com'"><i class="fab fa-youtube"></i></span>
    </div>
  </div>
</div>

<!------------------------------------------MODAL RAČUN --------------------------------------------------- -->
<div style="overflow: auto" class="modal fade" id="modalRacun" tabindex="-1" role="dialog" aria-labelledby="modalRacun" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header bg-dark">
          <h4 class="modal-title text-warning my-auto" id="modalRacun">Račun</h4>
          <button type="button" class="close my-auto" data-dismiss="modal" aria-label="Close">
            <span class="text-white bg-dark"><i aria-hidden="true" class="fa fa-times"></i></span>
          </button>
        </div>
        <div class="modal-body font-weight-bold">
          <div class="font-weight-bold">Izdao: {{oOsoba.m_sIme}} {{oOsoba.m_sPrezime}}</div>
          <table id="tablicaRacun" class="table w-100 text-dark rounded mt-2">
            <thead">
              <tr>
                <th class="align-middle">Rbr.</th>
                <th class="align-middle">Naziv</th>
                <th class="align-middle">Količina</th>
                <th class="align-middle">Cijena</th>
                <th class="align-middle">Ukloni</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="oStavke in vStavke">
                  <td class="align-middle">{{$index+1}}</td>
                  <td class="align-middle">{{oStavke.m_sNazivArtikla}}</td>
                  <td class="align-middle d-flex pt-4">{{oStavke.odabranaKolicina}}<div class="d-flex flex-column"><i ng-click="PovecajKolicinu(oStavke.m_nIdArtikla)" class="fa fa-plus ml-2"></i><i ng-click="SmanjiKolicinu(oStavke.m_nIdArtikla)" class="fa fa-minus ml-2"></i></div></td>
                  <td class="align-middle">{{oStavke.ukupnaCijena}}</td>
                  <td class="align-middle"><button id="gumbObrisi" ng-click="ObrisiStavkuRacuna(this)" class="btn btn-primary gumbTablica text-white d-inline"><i class="fa fa-trash d-inline mr-1" aria-hidden="true"></i></button></td>
              </tr>
              <tr ng-if="(vStavke.length < 1)">
                <td colspan="5" class="text-center">U košarici nema niti jedne stavke</td>
              </tr>
            </tbody>
          </table>
          <div class="d-inline">Datum: {{datumIzradeRacuna | date:'d.M.yyyy. H:mm:ss'}}</div>
          <div class="d-inline d-block float-right">Ukupna cijena: <b ng-class="{dodajPopust: popustRacuna>0 && vStavke.length>0}">{{ukupnaCijenaRacuna}}</b> KN</div><br>
          <div ng-class="{popustenaCijena: popustRacuna>0}" ng-if="popustRacuna>0 && vStavke.length>0" class="d-block float-right">{{ukupnaCijenaRacuna-((ukupnaCijenaRacuna*popustRacuna)/100) | number: 2}} KN</div>
          <div ng-class="{onemoguciGumb: vStavke.length<1}" class="mt-3 ml-1"><button class="gumbPopust" data-toggle="modal" data-target="#modalPopust"><span>Popust <i class="fa fa-percent ml-2" aria-hidden="true"></i></span></button></div>
          <div class="text-center mt-3"><button id="gumbIzradiRacun" ng-class="{onemoguciGumb: vStavke.length < 1}" data-toggle="modal" data-target="#modalPotvrda" ng-click="IzradiRacunPotvrda()" class="btn btn-primary w-25">Izradi račun</button></div>
        </div>
      </div>
    </div>
  </div>

  <!-----------------------------------------MODAL POTVRDA----------------------------------------->
  
  <div class="modal fade" id="modalPotvrda" tabindex="-1" role="dialog" aria-labelledby="modalPotvrda" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header bg-dark">
          <h5 class="modal-title text-warning my-auto">{{oModalPotvrda.headerModala}}</h5>
          <button type="button" class="close my-auto" data-dismiss="modal" aria-label="Close">
            <span class="text-white bg-dark"><i aria-hidden="true" class="fa fa-times"></i></span>
          </button>
        </div>
        <div class="modal-body">
    <p class="text-center text-dark mt-2 h4">Jeste li sigurni da želite {{oModalPotvrda.bodyModala}}?</p><br>
    <div ng-if="oModalPotvrda.headerModala=='Brisanje artikla' || oModalPotvrda.headerModala=='Vraćanje neaktivnog artikla'" class="text-center font-weight-bold">{{artiklObrisi.sNazivArtikla}}</div>
    <div ng-if="oModalPotvrda.headerModala=='Otpuštanje zaposlenika'" class="text-center font-weight-bold">{{zaposlenikObrisi.sIme}} {{zaposlenikObrisi.sPrezime}} ({{zaposlenikObrisi.sEmail}})</div>
  </div>
        <div class="modal-footer">
          <div id="funkcijaModala"></div>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Zatvori</button>
        </div>
      </div>
    </div>
</div>

<!--------------------------------TOST OBAVIJEST------------------------------------------->
<div id="tost" class="position-fixed bottom-0 right-0 p-3" aria-live="polite" aria-atomic="true">
  <div id="tostDodavanje" class="toast" data-animation="true" data-delay="3000">
    <div class="toast-header">
      <span><i class="fas fa-comment" aria-hidden="true"></i></span>
      <strong class="mr-auto ml-1">Obavijest</strong>
      <small class="text-muted ml-2">upravo sada</small>
      <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="toast-body">
      {{obavijestDodavanje.poruka}}
    </div>
</div>
</div>
<!---------------------------------MODAL POPUST----------------------------------------------------------->
<div class="modal fade" id="modalPopust" tabindex="-1" role="dialog" aria-labelledby="modalPopust" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-dark">
        <h5 class="modal-title text-warning my-auto">Popust</h5>
        <button type="button" class="close my-auto" data-dismiss="modal" aria-label="Close">
          <span class="text-white bg-dark"><i aria-hidden="true" class="fa fa-times"></i></span>
        </button>
      </div>
      <div class="modal-body">
          <label>Unesite popust na artikl:</label>
          <input ng-model="popustRacuna" type="number" min="0" max="100" onkeydown="return false" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
          <label><i class="fa fa-percent" aria-hidden="true"></i></label>
</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Zatvori</button>
      </div>
    </div>
  </div>
</div>
 <!------------------------------------------MODAL DEATLJNI OPIS ARTIKLA--------------------------------------------------- -->

 <div id="modalDetalji"  class="modal fade text-warning" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header  bg-dark">
        <h5 class="modal-title">Detaljni opis artikla</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span class="text-white bg-dark"><i aria-hidden="true" class="fa fa-times"></i></span>
        </button>
      </div>
      <div class="modal-body text-dark">
        {{opisArtikla}}
      </div>
    </div>
  </div>
</div>
    <script src="assets/plugins/angularjs/angular.min.js"></script>
    <script src="assets/plugins/angularjs/angular-route.min.js"></script>
    <script src="assets/plugins/node_modules/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="assets/plugins/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="assets/plugins/bootstrap-4.6.0-dist/js/bootstrap.min.js"></script>
    <script src="assets/plugins/fontawesome-free-5.15.3-web/js/fontawesome.min.js"></script>
    <script src="assets/plugins/node_modules/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="assets/plugins/node_modules/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="assets/plugins/bootstrap-datepicker-1.9.0-dist/js/bootstrap-datepicker.min.js"></script>
    <script src="assets/plugins/bootstrap-datepicker-1.9.0-dist/locales/bootstrap-datepicker.hr.min.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.2.5.js"></script>
    <script src="assets/plugins/Show-Hide-Passwords-Bootstrap-4/bootstrap-show-password.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/index.js"></script>
</body>
</html>