<!DOCTYPE html>
<html lang="hr" ng-app="pcShopPrijava">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="img/logo.png">
    <link rel="stylesheet" href="assets/plugins/bootstrap-4.6.0-dist/css/bootstrap.min.css">
    <link rel="stylsheet" href="assets/plugins/fontawesome-free-5.15.3-web/css/fontawesome.min.css">
    <link rel="stylesheet" href="assets/plugins/fontawesome-free-5.15.3-web/css/all.min.css">
    <link rel="stylesheet" href="css/prijava.css">
    <title>PIN PCShop</title>
</head>
    <body class="bg-dark" ng-controller="prijavaController">
        <div class="puls1"></div>
        <div class="puls2"></div>
        <img id="logo" src="img/logo.png" class="mx-auto d-block img-fluid">
        <div class="wrapper">
        <h4 class="title text-warning text-center">Prijava u sustav PIN PC Shop</h4>
        <div id="containerPrijava" class="jumbotron jumbotron-fluid login mb-5 w-25 mx-auto rounded" >
            <div class="container">
                    <form id="prijavaForma">
                        <div class="row">
                        <div class="col-sm-12">	
                    <div class="form-group">	
                        <label class="font-weight-bold" for="inptEmail">Email adresa</label>
                        <input type="text" class="form-control bg-white text-dark email" name="email" placeholder="Unesite Email adresu" id="inptEmail">
                        <small></small>
                    </div>
                </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                      <div class="form-group">
                          <label class="font-weight-bold" for="inptLozinka">Lozinka</label>
                          <div id="LozinkaIIkona" class="input-group">
                        <input type="password" class="form-control  bg-white text-dark" data-toggle="password" aria-describedby="PostaviGresku" name="lozinka" placeholder="Lozinka..." id="inptLozinka">
                        <div class="input-group-append">
                               <span class="input-group-text h-75">
                              <i class="fa fa-eye"></i>
                             </span>
                        </div>
                        <div id="guranjePorukeGreska"></div>
                            <small id="PostaviGresku" class="form-text ml-3 mt-4"></small>
                          </div>
                        </div>
                    </div>
                </div>
                <center>
                <div id="ucitavanjeIkona" class="mx-auto mb-3"></div>
                <button id="oPrijava" ng-click="Login()" ng-model="gumbKliknut" class="btn btn-primary mx-auto text-white w-25">Prijavi se</button>
                </center>
            </form>
        </div>	
    </div>
</div>
    <!-- Modal prijava --------------------------------------------------------------------------------->
<!-- <div class="modal fade" id="modalPrijava" tabindex="-1" role="dialog" aria-labelledby="modalLozinka" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
            <h4 class="title text-dark text-center">Prijava u sustav PIN PC Shop</h4>
        </div>
        <div class="modal-body">
            <div class="jumbotron jumbotron-fluid login mb-5 w-100 mx-auto rounded" >
                <div class="container">
                        <form id="prijavaForma">
                            <div class="row">
                            <div class="col-sm-12 visina">	
                        <div class="form-group">	
                            <label class="font-weight-bold" for="inptEmail">Email adresa</label>
                            <input type="text" class="form-control bg-white text-dark email" placeholder="Unesite Email adresu" name="email" id="inptEmail">
                            <small></small>
                        </div>
                    </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 visina">
                          <div class="form-group">
                              <label class="font-weight-bold" for="inptLozinka">Lozinka</label>
                              
                              <div id="LozinkaIIkona" class="input-group">
                            <input type="password" class="form-control bg-white text-dark" data-toggle="password" aria-describedby="PostaviGresku" name="lozinka" placeholder="Lozinka..." id="inptLozinka">
                            <div class="input-group-append">
                                <span class="input-group-text h-75" >
                               <i class="fa fa-eye"></i>
                              </span>
                         </div>
                            <div id="guranjePorukeGreska"></div>
                            <small id="PostaviGresku" class="form-text ml-3 mt-4"></small>
                              </div>
                              
                            </div>
                        </div>
                    </div>
                </form>
            </div>	
        </div>
        </div>
        <div id="ucitavanjeIkona" class="mx-auto mb-3"></div>
        <div class="modal-footer">
            <button id="oPrijava" ng-click="Login()" class="btn btn-primary mx-auto text-white w-25">Prijavi se</button>
        </div>
      </div>
    </div>
  </div> -->
<!-- -------------------------------------------------------------------------------------------------------------------------- -->    
    <script src="assets/plugins/angularjs/angular.min.js"></script>
    <script src="assets/plugins/angularjs/angular-route.min.js"></script>
    <script src="assets/plugins/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="assets/plugins/bootstrap-4.6.0-dist/js/bootstrap.min.js"></script>
    <script src="assets/plugins/fontawesome-free-5.15.3-web/js/fontawesome.min.js"></script>
    <script src="assets/plugins/Show-Hide-Passwords-Bootstrap-4/bootstrap-show-password.min.js"></script>
    <script src="js/prijava.js"></script>
</body>
</html>