<div class="tableContainer p-5 mb-5 rounded ">
    <h3 class="mx-auto text-white text-center">Neaktivni artikli</h3>
      <table id="tablicaNeaktivniArtikli" class="table row-border mx-auto text-white text-center w-100" ng-init="DohvatiNeaktivneArtikle()">
        <thead style="background-color: #B61624;">
          <tr>
              <th class="align-middle">Rbr</th>
              <th class="align-middle" style="min-width: 180px;">Naziv</th>
              <th class="align-middle">Opis</th>
              <th class="align-middle">Cijena (HRK)</th>
              <th class="align-middle">Vraćanje</th>
          </tr>
      </thead>
      <tbody>
          <tr ng-repeat="artikl in vNeaktivniArtikli" ng-attr-id="{{artikl.m_nIdArtikla}}"> 
              <td class="align-middle">{{$index+1}}</td>
              <td class="align-middle" style="min-width: 180px;">{{artikl.m_sNazivArtikla}}</td>
              <td class="align-middle" data-toggle="modal" data-target="#modalDetalji" ng-click="OpisArtikla(artikl.m_sOpisArtikla)" title="Kliknite za detalje" id="opisArtikla">{{artikl.m_sOpisArtikla}}</td>
              <td class="align-middle">{{artikl.m_fJdCijenaArtikla}}</td>
              <td class="align-middle"><button id="gumbObrisi" ng-click="VratiArtikl(artikl.m_nIdArtikla,artikl.m_sNazivArtikla)" data-toggle="modal" data-target="#modalPotvrda" class="btn gumbTablica text-white d-inline"><i class="fa fa-undo d-inline mr-1" aria-hidden="true"></i></button></td>
            </tr>
      </tbody>
      </table>
  </div>