<div class="container noviArtikl rounded text-white font-weight-bold text-left mx-auto m-5 w-75 h-50">
    <form id="dodavanjeArtikla">
        <h3 class="text-center pt-1">Dodavanje novog artikla</h3>
            <div class="form-group">
              <label for="dodajNazivArtikla">Naziv</label>
              <input type="text" class="form-control" id="dodajNazivArtikla" name="nazivArtikla">
            </div>
            <div class="form-group">
              <label for="dodajOpisArtikla">Opis</label>
              <textarea  id="dodajOpisArtikla" class="form-control" name="opisArtikla" rows="3"></textarea>
            </div>
            <div class="form-group">
              <label for="dodajKolicinaArtikl">Količina</label>
              <input type="number" id="dodajKolicinaArtikl" class="form-control w-25" name="kolicinaArtikla">
            </div>
            <div class="form-group">
              <label for="dodajCijenaArtikla">Cijena (HRK)</label>
              <input type="text" id="dodajCijenaArtikla" class="form-control w-25" name="cijenaArtikla">
            </div>
            <div class="form-group">
                <label for="dodajJmjArtikla">Jedinica mjere</label>
                <input type="text" id="dodajJmjArtikla" class="form-control w-25" name="jedinicaMjereArtikla">
              </div>
            <div class="form-group">
              <label for="odabirKategorije">Odabir kategorije</label>
              <select class="form-control" id="odabirKategorije" name="kategorijaArtikla" ng-model="novaKategorijaArtikla" ng-options="oPotkategorija.m_sNaziv for oPotkategorija in vPotkategorije track by oPotkategorija.m_nId">
                <option value="" selected disabled hidden>--Odaberite kategoriju artikla--</option>
              </select>
            </div>
            <div class="mt-3 pb-1 text-center">
            <button class="btn btn-primary w-25" type="button" ng-click="DodajArtikl()">Dodaj artikl</button>
      </div>
    </form>
 </div>

 <div id="tost" aria-live="polite" aria-atomic="true">
    <div id="tostDodavanje" class="toast" data-animation="true" data-delay="3000">
      <div class="toast-header">
        <span><i class="fas fa-comment" aria-hidden="true"></i></span>
        <strong class="mr-auto">Obavijesst</strong>
        <small class="text-muted ml-2">upravo sada</small>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="toast-body">
        {{obavijestDodavanje.poruka}}
      </div>
</div>
