<div class="container pocetnaContainer rounded text-white text-center mx-auto m-5 w-75">
    <div id="visinaRetka" class="row">
        <div class="div1 col-sm-4 my-auto"><span class="box h-100 d-flex justify-content-center flex-column ">Vrijeme prijave:  {{vrijemePrijave}}</span></div>
        <div class="div2 col-sm-4 my-auto">
            <h3 class="d-block mb-4">Dobrodošli</h3>
            <div class="d-block mb-4 h4">{{oOsoba.m_sIme}} {{oOsoba.m_sPrezime}}</div>
            <a href="#!/statistika"><button class="btn btn-stat w-75 mt-2">Statistika</button></a>
        </div>
        <div class="div3 col-sm-4 my-auto">
            <h4 class="akcije">Akcije</h4>
            <div class="d-block divGumbRacuni my-auto">
                <a class="pocetnaLinkovi" href="#!/zaposlenici" ng-if="oOsoba.m_sUloga=='Direktor'"><button class="btn btn-akcija w-50 mt-4">Zaposlenici</button></a>
                <a class="pocetnaLinkovi" href="#!/racuni"><button class="btn btn-akcija w-50 mt-4">Računi</button></a>
                <a class="pocetnaLinkovi" href="#!/neaktivniArtikli"><button class="btn btn-akcija w-50 mt-4">Neaktivni artikli</button></a>
            </div>
        </div>
    </div>
 </div>

