<div class="tableContainer p-5 mb-5 rounded ">
    <table id="tablicaArtikli" class="table table-bordered table-responsive mx-auto text-white text-center w-100">
      <thead>
        <tr>
            <th class="align-middle">Rbr</th>
            <th class="align-middle">Naziv</th>
            <th class="align-middle">Opis</th>
            <th class="align-middle">Jedinica mjere</th>
            <th class="align-middle">Cijena (HRK)</th>
            <th class="align-middle">Kategorija</th>
            <th class="align-middle">Stavljanje u košaricu</th>
            <th class="align-middle">Ažuriranje</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="artikl in vArtikliPotkategorije track by artikl.m_nIdArtikla"> 
            <td class="align-middle">{{$index+1}}</td>
            <td class="align-middle">{{artikl.m_sNazivArtikla}}</td>
            <td class="align-middle" data-toggle="modal" data-target="#modalDetalji" ng-click="OpisArtikla(artikl.m_sOpisArtikla)" title="Kliknite za detalje" id="opisArtikla">{{artikl.m_sOpisArtikla}}</td>
            <td class="align-middle">{{artikl.m_sJmjArtikla}}</td>
            <td class="align-middle">{{artikl.m_fJdCijenaArtikla}}</td>
            <td class="align-middle">{{artikl.m_nIdPotkategorijaArtikla}}</td>
            <td class="align-middle"><button id="gumbKupi" data-toggle="modal" data-target="#modalDodajArtikl" class="btn btn-danger gumbTablica text-white d-inline"><i class="fa fa-cart-plus d-inline mr-1" aria-hidden="true"></i>Kupi</button></td>
            <td class="align-middle"><button id="gumbAzuriraj" class="btn btn-primary gumbTablica text-white d-inline"><i class="fa fa-wrench d-inline mr-1" aria-hidden="true"></i></button></td>
        </tr>
    </tbody>
    </table>
</div>


<div id="modalDodajArtikl" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Odabir količine</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <label>Količina artikla:</label>
          <input id="unosKolicine" type="number" ng-model="kolicina" ng-keyup="UgasiGumb(kolicina)" max="5" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
        </div>
        <div class="modal-footer">
          <button ng-click="Kupi()" id="kupiArtikl" type="button" class="btn btn-primary" data-dismiss="modal">Spremi u košaricu</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Odustani</button>
        </div>
      </div>
    </div>
  </div>

  <div id="modalDetalji"  class="modal fade text-warning" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header  bg-dark">
          <h5 class="modal-title">Detaljni opis artikla</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span class="text-white bg-dark"><i aria-hidden="true" class="fa fa-times"></i></span>
          </button>
        </div>
        <div class="modal-body text-dark">
          {{opisArtikla}}
        </div>
      </div>
    </div>
  </div>