<div class="tableContainer p-5 mb-5 rounded ">
    <button class="ml-auto btn btn-dodaj rounded" data-toggle="modal" data-target="#modalDodavanjeZaposlenika">Dodaj zaposlenika</button>
    <h3 class="mx-auto text-white text-center mt-3">Zaposlenici</h3>
      <table id="tablicaZaposlenici" class="table table-responsive mx-auto text-white text-center w-100" ng-init="DohvatiZaposlenike()">
        <thead style="background-color: #B61624;">
          <tr>
              <th class="align-middle">Rbr</th>
              <th class="align-middle">OIB</th>
              <th class="align-middle">Ime</th>
              <th class="align-middle">Prezime</th>
              <th class="align-middle">Spol</th>
              <th class="align-middle">Datum rođenja</th>
              <th class="align-middle">Email</th>
              <th class="align-middle">Plaća</th>
              <th class="align-middle">Uloga</th>
              <th class="align-middle">Godina staža</th>
              <th class="align-middle">Ažuriraj</th>
              <th class="align-middle">Otpusti</th>
          </tr>
      </thead>
      <tbody>
          <tr ng-repeat="zaposlenik in vZaposlenici"> 
              <td class="align-middle">{{$index+1}}</td>
              <td class="align-middle">{{zaposlenik.m_nOib}}</td>
              <td class="align-middle">{{zaposlenik.m_sIme}}</td>
              <td class="align-middle">{{zaposlenik.m_sPrezime}}</td>
              <td class="align-middle" ng-if="zaposlenik.m_sSpol=='0'">Muško</td>
              <td class="align-middle" ng-if="zaposlenik.m_sSpol=='1'">Žensko</td>
              <td class="align-middle">{{zaposlenik.m_nDatumRodjenja | date:'d.M.yyyy.'}}</td>
              <td class="align-middle">{{zaposlenik.m_sEmail}}</td>
              <td class="align-middle">{{zaposlenik.m_fPlaca}}</td>
              <td class="align-middle">{{zaposlenik.m_sUloga}}</td>
              <td class="align-middle">{{zaposlenik.m_nGodinaStaza}}</td>
              <td class="align-middle"><button class="btn gumbTablica text-white plaviGumbTablice mr-1" data-toggle="modal" data-target="#modalAzuriranjeZaposlenika" ng-click="AzuriranjeZaposlenikaForma(zaposlenik.m_sEmail)"><i class="fa fa-wrench" aria-hidden="true"></i></button></td>
              <td class="align-middle"><button id="gumbObrisi" class="btn gumbTablica text-white mr-1"><i class="fa fa-ban" data-toggle="modal" data-target="#modalPotvrda" ng-click="OtpustiZaposlenika(zaposlenik.m_nOib,zaposlenik.m_sEmail,zaposlenik.m_sIme,zaposlenik.m_sPrezime)" aria-hidden="true"></i></button></td>
            </tr>
      </tbody>
      </table>
  </div>

  <!------------------------------------------MODAL AŽURIRANJE ZAPOSLENIKA--------------------------------------------------- -->
<div style="overflow: auto" class="modal fade" id="modalAzuriranjeZaposlenika" tabindex="-1" role="dialog" aria-labelledby="modalAzuriranjeZaposlenika" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header bg-dark">
          <h5 class="modal-title text-warning my-auto">Ažuriranje zaposlenika</h5>
          <button type="button" class="close my-auto" data-dismiss="modal" aria-label="Close">
            <span class="text-white bg-dark"><i aria-hidden="true" class="fa fa-times"></i></span>
          </button>
        </div>
        <div class="modal-body font-weight-bold">
          <form id="azuriranjeZaposlenikaForma">
              <input type="text" name="emailZaposlenika" ng-model="oZaposlenikForma.email" hidden>
              <div class="row">
                <div class="col-sm-12">
              <div class="form-group">
                <label for="updateImeZaposlenika">Ime</label>
                <input type="text" class="form-control w-50" id="updateImeZaposlenika" name="imeZaposlenika" ng-model="oZaposlenikForma.ime">
                <small class="ml-3"></small>
              </div>
              </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
              <div class="form-group">
                <label for="updatePrezimeZaposlenika">Prezime</label>
                <input  id="updatePrezimeZaposlenika" class="form-control w-50" name="prezimeZaposlenika" ng-model="oZaposlenikForma.prezime"></input>
                <small class="ml-3"></small>
              </div>
              </div>
              </div>
              <div class="row">
                <div class="col-sm-12">	
              <div class="form-group">
                <label for="updatePlacaZaposlenika">Plaća</label>
                <input type="text" id="updatePlacaZaposlenika" class="form-control w-25" name="placaZaposlenika" ng-model="oZaposlenikForma.placa">
                <small class="ml-3"></small>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                <label for="updateUlogaZaposlenika">Uloga</label>
                <input type="text" id="updateUlogaZaposlenika" class="form-control w-25" name="ulogaZaposlenika" ng-model="oZaposlenikForma.uloga">
                <small class="ml-3"></small>
              </div>
              </div>
              </div>  
              <div class="row">
                <div class="col-sm-12">
              <div class="form-group">
                <label for="updateGodinaStazaZaposlenka">Godina staža</label>
                <input id="updateGodinaStazaZaposlenka" class="form-control w-25" name="godinaStazaZaposlenika" ng-model="oZaposlenikForma.godinaStaza" type="number" min="0">
                <small class="ml-3"></small>
              </div>
                </div>
                </div>
              <div class="mt-3 text-center">
              <button class="btn btn-primary" data-target="#modalPotvrda" data-toggle="modal" ng-click="ZaposlenikAzuriraj()">Ažuriraj</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Zatvori</button>
        </div>
            </form>
        </div>
      </div>
    </div>
  </div>

 <!-- ---------------------------------------------------MODAL DODAVANJE ZAPOSLENIKA -------------------------------------------------------------->
 <div style="overflow: auto" class="modal fade" id="modalDodavanjeZaposlenika" tabindex="-1" role="dialog" aria-labelledby="modalDodavanjeZaposlenika" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header bg-dark">
        <h5 class="modal-title text-warning my-auto">Zapošljavanje</h5>
        <button type="button" class="close my-auto" data-dismiss="modal" aria-label="Close">
          <span class="text-white bg-dark"><i aria-hidden="true" class="fa fa-times"></i></span>
        </button>
      </div>
      <div class="modal-body font-weight-bold">
        <form id="dodajZaposlenikaForma">
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="dodavanjeImeZaposlenika">Ime</label>
                  <input type="text" class="form-control w-50" placeholder="Ime" id="dodavanjeImeZaposlenika" name="imeZaposlenika">
                  <small class="ml-3"></small>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
               <div class="form-group">
                  <label for="dodavanjePrezimeZaposlenika">Prezime</label>
                  <input  id="dodavanjePrezimeZaposlenika" placeholder="Prezime" class="form-control w-50" name="prezimeZaposlenika"></input>
                  <small class="ml-3"></small>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">	
                <div class="form-group">
                  <label for="dodavanjeOIBZaposlenika">OIB</label>
                  <input type="text" placeholder="Oib" id="dodavanjeOIBZaposlenika" class="form-control w-25" name="oibZaposlenika">
                  <small class="ml-3"></small>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="dodavanjeDatumRodjenjaZaposlenik">Datum rođenja</label>
                  <div class="input-group date w-25" data-provide="datepicker">
                  <input id="dodavanjeDatumRodjenjaZaposlenik" placeholder="Datum rođenja" class="form-control w-25" name="datumRodjenjaZaposlenika">
                  <small class="ml-3"></small>
                  <div class="input-group-addon"></div>
                </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="dodavanjeEmailZaposlenika">Email</label>
                  <input type="text" class="form-control w-50" placeholder="primjer@pinshop.hr" name="emailZaposlenika" id="dodavanjeEmailZaposlenika">
                  <small class="ml-3"></small>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                    <label class="font-weight-bold" for="dodavanjeLozinkaZaposlenik">Lozinka</label>
                    <div id="LozinkaIIkona" class="input-group">
                  <input type="password" class="form-control bg-white text-dark" data-toggle="password"  name="lozinkaZaposlenika" placeholder="Lozinka..." id="dodavanjeLozinkaZaposlenik">
                  <div class="input-group-append">
                         <span class="input-group-text h-75">
                        <i class="fa fa-eye"></i>
                       </span>
                  </div>
                  <div id="guranjePorukeGreska"></div>
                      <small id="greska" class="form-text ml-3 mt-4"></small>
                    </div>
                  </div>
              </div>
          </div>
            <div class="row">
              <div class="col-sm-12">
                 <div class="form-group">
                  <label for="dodavanjePlacaZaposlenika">Plaća</label>
                  <input type="text" placeholder="Plaća" id="dodavanjePlacaZaposlenika" class="form-control w-25" name="placaZaposlenika" >
                  <small class="ml-3"></small>
                 </div>
               </div>
              </div>
                <div class="row">
                  <div class="col-sm-12">
                     <div class="form-group">
                      <label for="dodavanjeGodinaStazaZaposlenka">Godina staža</label>
                      <input id="dodavanjeGodinaStazaZaposlenka" placeholder="Godina staža" class="form-control w-25" name="godinaStazaZaposlenika" type="number" min="0">
                      <small class="ml-3"></small>
                     </div>
                   </div>
                  </div>  
               <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group">
                      <label for="dodavanjeSpolZaposlenika">Spol</label>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="radio" value="0" class="form-check-input" name="dodavanjeSpolZaposlenik" checked>Muško
                        </label>
                      </div>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="radio" value="1" class="form-check-input" name="dodavanjeSpolZaposlenik">Žensko
                        </label>
                      </div>
                      <small class="ml-3"></small>
                  </div>
                </div>
                <div class="form-group">
                  <input id="ZaposlenikGreska" hidden>
                  <small style="font-size: 15px;" class="ml-3 mb-5"></small>
                </div>
              </div>
            <div class="mt-3 text-center">
            <button class="btn btn-primary" data-target="#modalPotvrda" data-toggle="modal" ng-click="ZaposlenikDodaj()">Zaposli</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Zatvori</button>
      </div>
          </form>
      </div>
    </div>
  </div>
</div>